[submodule "vendor/HandmadeMath"]
	path = vendor/HandmadeMath
	url = https://github.com/HandmadeMath/HandmadeMath.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
